<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797997951909-s8g56b22vpne7j5huq6oek4ehfuudnpn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797997951909-s8g56b22vpne7j5huq6oek4ehfuudnpn</string>
	<key>API_KEY</key>
	<string>AIzaSyCw4pcQ0M6C9fkL9HddOgrHMOkTacdWwlw</string>
	<key>GCM_SENDER_ID</key>
	<string>797997951909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newpointer.zeraFila</string>
	<key>PROJECT_ID</key>
	<string>zera-fila</string>
	<key>STORAGE_BUCKET</key>
	<string>zera-fila.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797997951909:ios:b7606d9419443e3d89564c</string>
</dict>
</plist>